.categories-view {
	&__center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__play-btn {
		left: 50%;
		bottom: 10vh;
		position: absolute;
		transform: translateX(-50%);
	}
}