@import '../../variables.scss';

.playing-view {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;

	&__card {
		margin-top: 150px;
	}

	&__title {
		font-size: 30px;
		color: $color-text;
		text-align: center;
	}

	&__body {
		font-size: 1.5rem;
	}

	&__play-btn {
		left: 50%;
		bottom: 10vh;
		position: absolute;
		transform: translateX(-50%);
		background-color: $color-text;
	}
}